<html>
  <head>
    <title>Battle Commence!</title>
    <link rel="stylesheet" type="tect/css" href="style.css">
  </head>

  <form action="/" method="post">
    <input type="text" name="Player 1">
    <input type="submit" value="Submit">
    <input type="text" name2="Player 2">
    <input type="submit" value="Submit">
  </form>

  <body>

    <% if @name  %>
    <h1>Hello Player 1 <%= name %></h1>
    <h1>Hello Player 2 <%= name2 %></h1>
    <% end %>

  </body>
<html>
